h1{
    text-align: center;
    margin-bottom: 40px;
}
#category_and_main{
    display: grid;
    grid-template-columns: 200px 1fr;
}
#category{
    margin-left: 50px;
}
#textarea h2{
    text-align: center;
    margin-bottom: 50px;
}